<div class="product-group col-md-4" *ngFor="let item of results">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">{{item.name}}</h5>
	    <div class="card-text display-props">
	    	<p><span>ACC:</span> {{item.acc}}</p>
	    	<p><span>CYL:</span>  {{item.cyl}}</p>
	    	<p><span>MPG:</span>  {{item.mpg}}</p>
	    	<p><span>HP:</span>  {{item.hp}}</p>
	    	<p><span>Lbs:</span>  {{item.lbs}}</p>
	    	<p><span>Year:</span>  {{item.year}}</p>
	    </div>
	  </div>
	</div>
</div>